h1 {
    margin-top: 25px;
    font-weight: normal;
    color: #3498db;
}

img {
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
}

.step {
    margin-top: 25px;
}

.step-num span {
    display: inline-block;
    width: 72px;
    text-align: center;
    color: #3498db;
    background: #fff;
    line-height: 72px;
    border-radius: 100%;
    border: 2px #3498db solid;
    font-size: 24px;
}
.step-content {
    line-height: 72px;
    font-size: 16px;
}

.imgBox {
    margin: 16px 0;
    display: inline-block;
}
