@import "~basscss/css/basscss.css";
@import "./themes/dark.css";
@import "./themes/light.css";

@import "./accents/blue.css";
@import "./accents/red.css";
@import "./accents/purple.css";

@font-face {
  font-family: OpenSans;
  src: url('~open-sans-fontface/fonts/Regular/OpenSans-Regular.woff2');
}

@font-face {
  font-family: OpenSans;
  src: url('~open-sans-fontface/fonts/Light/OpenSans-Light.woff2');
  font-weight: 100;
}

:root {
  --font-family: OpenSans, sans-serif;
}

body, html {
  font-family: var(--font-family);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--theme-selected-start);
  background-clip: content-box;
  border: 2px transparent solid;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  border-color: var(--theme-selected-start);
  border-radius: 0;
}

h1, h2 {
  font-weight: normal;
}

#app {
  height: 100vh;
  width: 100vw;
  background: var(--main-bg-color);
}

#container {
  height: calc(100vh - 32px);
  background: var(--container-bg-color);
}

#input {
  background: transparent;
  color: var(--input-text-color);
  padding: 0 15px;
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  font-weight: 100;
  outline: none;
  border-color: var(--theme-selected-start);
}

#input:focus {
  outline: none;
}

#results {
  height: calc(100% - 80px);
  overflow-y: scroll;
  will-change: transform;
}

.bookmark {
  font-size: 16px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 2px;
}

.bookmark.selected {
  background-image: linear-gradient(to right, var(--theme-selected-start) 0%,var(--theme-selected-end) 100%);
}

.bookmark.selected .bookmarkWrapper {
  background-color: var(--theme-selected-bg-color);
}

.bookmarkWrapper {
  background-color: var(--container-bg-color);
  transition: 0.3s;
}

.bookmarkHeader, .bookmarkFooter {
  font-size: 16px;
  text-overflow: ellipsis;
}

.bookmarkHeader {
  color: var(--theme-header-color);
}

.bookmarkHeader b {
  color: var(--theme-selected-start);
}

.bookmarkFooter {
  border-top: 1px var(--theme-bookmark-divider-color) solid;
}

.bookmarkPath {
  color: var(--theme-bookmark-link-color);
  font-size: 14px;
}

.bookmarkScore {
  color: var(--theme-selected-start);
  margin-right: 16px;
}

.bookmarkUrl {
  color: var(--theme-bookmark-link-color);
}

.bookmarkUrl:hover {
  color: var(--theme-bookmark-link-hover-color);
  text-decoration: underline;
}

.bookmarkFavicon {
  width: 16px;
  height: 16px;
  margin: -4px 4px 0 -4px;
}

.overlay-control {
  width: 24px;
  height: 24px;
  top: 16px;
  left: 16px;
  color: var(--theme-bookmark-link-color);
  z-index: 10;
}

.overlay-control:hover {
  color: var(--theme-bookmark-link-hover-color);
}

.overlay-control.menu {
  z-index: 1;
}

.overlay {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background: var(--main-bg-color);
  color: var(--theme-header-color);
}
