:root {
  --main-bg-color: #23282e;
  --container-bg-color: #262d33;
  --input-text-color: #fff;
  --theme-selected-start: #4dadf7;
  --theme-selected-end: #3bc9db;
  --theme-selected-bg-color: #343a40;
  --theme-header-color: #e9ecef;
  --theme-bookmark-link-color: #868e96;
  --theme-bookmark-link-hover-color: #adb5bd;
}

body, html {
  overflow: hidden;
  height: 100%;
  background: var(--main-bg-color);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--theme-selected-start);
  background-clip: content-box;
  border: 2px transparent solid;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  border-color: var(--theme-selected-start);
  border-radius: 0;
}

input, select {
  border: none;
  border-bottom: 2px #A9A9A9 solid;
  padding: 0 0 0 5px;
  width: 100px;
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--theme-selected-start);
}

select, button, input {
  display: inline-block;
  height: 32px;
}

button {
  border: none;
  background: none;
  transition: 0.3s;
  box-sizing: content-box;
}

button:hover {
  background-color: #DDD;
}

button:focus {
  outline: none;
}

#container {
  overflow: hidden;
  height: calc(100vh - 32px);
  margin-top: 16px;
  background: var(--container-bg-color);
  padding: 0;
}

#inputWrapper {
  padding: 16px 0;
}

#input {
  background: transparent;
  color: var(--input-text-color);
  border: none;
  display: block;
  padding: 0 15px;
  font-size: 24px;
  height: 48px;
  line-height: 48px;
}

#input:focus {
  outline: none;
}

#results {
  height: calc(100% - 100px);
  overflow-y: scroll;
  will-change: transform;
  padding: 0;
}

.bookmark {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  box-sizing: border-box;
  list-style: none;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 2px transparent solid;
}

.bookmark.selected {
  background-image: linear-gradient(to right, var(--theme-selected-start) 0%,var(--theme-selected-end) 100%);
}

.bookmark.selected .bookmarkWrapper {
  background-color: var(--theme-selected-bg-color);
}

.bookmarkWrapper {
  background-color: var(--container-bg-color);
  transition: 0.3s;
  display: block;
  padding: 10px;
}

.bookmarkHeader {
  color: var(--theme-header-color);
  display: block;
  font-size: 18px;
  line-height: normal;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmarkHeader b {
  color: var(--theme-selected-start);
}

.bookmarkFooter {
  display: block;
  border-top: 1px solid rgba(0,0,0,.1);
  font-size: 18px;
  line-height: normal;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookmarkPath {
  color: var(--theme-bookmark-link-color);
  float: right;
  font-size: 14px;
}

.bookmarkScore {
  color: var(--theme-selected-start);
  margin-right: 16px;
}

.bookmarkUrl {
  color: var(--theme-bookmark-link-color);
}

.bookmarkUrl:hover {
  color: var(--theme-bookmark-link-hover-color);
  text-decoration: underline;
}

.bookmarkFavicon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: -4px 4px 0 -4px;
}
