body, html {
    overflow: hidden;
    height: 100%;
    background: #ecf0f1;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #3498db;
    background-clip: content-box;
    border: 2px transparent solid;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    border-color: #3498db;
    border-radius: 0;
}

#container {
    background: #fff;
    overflow: hidden;
    height: calc(100vh - 32px);
    margin-top: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
}

#inputWrapper {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

#input {
    display: block;
    border-radius: 3px;
    border: 2px #aaa solid;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 48px;
    transition: 0.3s;
}

#input:focus {
    outline: none;
    border-color: #3498db;
    background: #fff;
}

#results {
    padding: 20px 30px;
    height: calc(100% - 100px);
    overflow-y: scroll;
    will-change: transform;
}

.bookmark {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    -ms-flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    list-style: none;
    margin-bottom: 5px;
    border: 2px transparent solid;
    padding: 5px;
    transition: 0.3s;
}

.bookmark.selected {
    border-color: #3498db;
    transform: scale(1.02);
}

.bookmarkHeader {
    display: block;
    font-size: 16px;
    line-height: normal;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookmarkFooter {
    display: block;
    border-top: 1px solid rgba(0,0,0,.1);
    font-size: 16px;
    line-height: normal;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookmarkPath {
    color: #9E9E9E;
    float: right;
    font-size: 14px;
}

.bookmarkScore {
    color: #3498db;
    margin-right: 16px;
}

.bookmarkUrl {
    color: #3498db;
}

.bookmarkUrl:hover {
    text-decoration: underline;
}

.bookmarkFavicon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: -4px 12px 0 -4px;
}

#settingsButton {
    position: absolute;
    right: 48px;
    bottom: 32px;
    height: 48px;
    width: 48px;
    background: #fff url('../img/gear.png') center no-repeat;
    border-radius: 100%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

#settingsButton:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

#settingsButton.active {
    background-color: #3498db;
    transform: rotate(90deg);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

#settings {
    position: absolute;
    top: 16px;
    width: 400px;
    right: 0;
    height: calc(100vh - 32px);
    transform: translateX(400px);
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    will-change: transform;
}

#settings.active {
    transform: translateX(0px);
}

#settings.active.expanded {
    width: 600px;
}

#settings h2 {
    font-size: 24px;
    font-weight: normal;
    padding: 0 10px;
}

#saveIndicator {
    line-height: 24px;
    font-size: 18px;
    margin-left: 10px;
}

.tab {
    display: inline-block;
    line-height: 32px;
    padding: 0 10px;
    border-bottom: 2px transparent solid;
    transition: 0.3s;
    cursor: pointer;
}

.tab.active {
    border-color: #3498db;
}

.tabContent {
    display: none;
    padding: 0 10px;
}

.tabContent.active {
    display: block;
}

.CodeMirror {
    border-radius: 2px;
}

#newThemeName {
    display: none;
}

#newThemeName.active {
    display: inline-block;
}
